body {
    padding-top: 70px; 

}

.navbar-inverse{
    background-color: #ED2E31;
    border-color: black;
}

#headerMenu{
    color: white;
}

.active a{
    background-color: #b30000 !important;
}

#headerMenu:focus, #headerMenu:hover{
    color: #333;
}

.navbar-brand{
    font-weight: bolder;
}
.portfolio-item {
    margin-bottom: 10px;
    width: 350px;
    height: 250px;
    border-bottom: 1px solid black;
}

#header{
    font-weight: bold;
    font-size: 50px;
}

#content{
    font-size: 16px;
    text-align: justify;
}

#content::first-letter{
    font-size: 225%;
    font-weight: bolder;
}
#container{
    
    background-color: #F9F9F9;
    margin-top: -20px;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 50px;
}

.row{
    margin-left: 20px;
    margin-bottom: 20px;
}

#par{
    text-align: justify;
}
#explaination, #action {
    text-align: center;
}

#action{
    margin-top: 10px;
}
#radiobtn{
    margin-left: 20px;
    
}
footer {
    margin: 50px 0;
}